.menubox{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.menu{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
}

.container{
    height: 100vh;
    display: flex;
}